# macOS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes

# Python
__pycache__/
.pytest_cache/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.env
.venv
*.csv

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
Thumbs.db